.vonnect__customerHome__content{
  padding-top: 60px;
}

.vonnect__customerHome__services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.vonnect__customerHome__content h4{
  padding-left: 11px;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-family);
  color: var(gradient__text);
}

.vonnect__customerHome__previousOrders h4{
  margin: 2rem 1rem;
  font-size: 18px;
}
