.vonnect__customerSupport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgb(26, 109, 255) -0.42%, rgb(200, 34, 255) 100.42%);
  color: white;
  padding: 20px;
  width: 100vw;
  height: 100vh;
}

.vonnect__customerSupport-content{
  margin: 2rem;
  height: 60vh;
  border-radius: 12px;
}

.vonnect__customerSupport h1 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

.vonnect__customerSupport__Choices h3 {
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  color: rgb(85, 83, 83);
  font-weight: 400;
  background-color: white;

  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.vonnect__customerSupport__Choices h3:hover,
.vonnect__customerSupport__Choices h3:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.95);
  font-weight: 500;
}

.vonnect__customerSupport__Choices h3:hover {
  transform: scale(101%);
}

.vonnect__customerSupport__Choices h3:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.vonnect__customerSupport__Choices h3:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.vonnect__customerSupport__Choices h3:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}



.vonnect__customerSupport__Choices div {
  font-size: 1.2em;
  margin-top: 20px;
}

.vonnect__customerSupport__description{
  color: black;
  background: white;
  padding-right: 10px;
  border-radius: 10px;
}

.vonnect__customerSupport__description p{
  font-size: 17px;
  margin: 1rem;
}

.vonnect__customerSupport__description textarea {
  border: none;
  font-family: var(--font-family);
  padding: 10px;
  font-size: 15px;
  border: 2px solid #ccc;
  color: black;
  margin-left: 10px;
  text-align: left;
  height: 30vh;
  width: 290px;
}

.vonnect_customerSupport__description-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS */
.vonnect_customerSupport__description-container button {
  margin-top: 3rem;

  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.vonnect_customerSupport__description-container button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.vonnect_customerSupport__description-container button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.vonnect_customerSupport__description-container button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.vonnect_customerSupport__description-container button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.vonnect_customerSupport__description-container button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.vonnect_customerSupport__description-container button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.vonnect_customerSupport__description-container button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.vonnect_customerSupport__description-container button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.vonnect__customerSupport__submitted p{
  text-align: center;
}